---
import Layout from '../layouts/Layout.astro';
import {Animation} from "../components/Animation"
import "../index.css"
---

<Layout title="Welcome to Astro.">
	<main>
		<Animation client:only="react"/>
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: 100%;
	}
</style>
